<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tabelas Nutricionais</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100">
        <div th:replace="~{partials/header :: header}"></div>
        <div class="container mx-auto mt-8 p-8 max-w-3xl bg-white rounded-lg shadow-md">
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-2xl font-bold">Tabelas Nutricionais</h1>
                <a href="/nutritional-tables/new" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-400">Criar Tabela</a>
            </div>
            <table class="min-w-full bg-white border border-gray-300 rounded-lg">
                <thead>
                <tr class="bg-gray-200 text-left">
                    <th class="py-2 px-4 border-b">ID</th>
                    <th class="py-2 px-4 border-b">Descrição</th>
                    <th class="py-2 px-4 border-b">Proteína</th>
                    <th class="py-2 px-4 border-b">Porção</th>
                    <th class="py-2 px-4 border-b">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="table : ${nutritionalTables}"
                    class="hover:bg-gray-100 cursor-pointer"
                    th:onclick="|window.location.href='/nutritional-tables/' + ${table.id}|">
                    <td class="py-2 px-4 border-b" th:text="${table.id}"></td>
                    <td class="py-2 px-4 border-b" th:text="${table.description}"></td>
                    <td class="py-2 px-4 border-b" th:text="${table.proteinPerServing}"></td>
                    <td class="py-2 px-4 border-b" th:text="${table.servingSize}"></td>
                    <td class="py-2 border-b">
                        <div class="flex justify-center">
                            <a th:href="@{/nutritional-tables/edit/{id}(id=${table.id})}" class="bg-yellow-500 text-black mr-2 px-4 py-2 rounded hover:bg-yellow-400">Editar</a>
                            <button th:data-id="${table.id}" class="delete-btn bg-red-500 text-white px-4 py-2 rounded hover:bg-red-400">Remover</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".delete-btn").forEach(button => {
                button.addEventListener("click", function (event) {
                    event.stopPropagation();
                    const tableId = this.dataset.id;
                    if (confirm("Quer mesmo remover esta tabela nutricional?")) {
                        deleteTable(tableId);
                    }
                });
            });
        });

        function deleteTable(tableId) {
            fetch(`/api/nutritional-tables/${tableId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    showToast("Erro ao remover a tabela nutricional");
                }
            });
        }
    </script>
    <script th:src="@{/js/toast.js}"></script>
</html>