<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova Venda</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div th:replace="partials/header :: header"></div>
    <div class="container mx-auto mt-8 p-8 max-w-3xl bg-white rounded-lg shadow-md">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold mb-4">Nova venda</h1>
        </div>
        <form id="sale-form">
            <div class="mb-4">
                <label for="customerId" class="block text-gray-700">Cliente:</label>
                <select id="customerId" name="customerId" class="mt-1 p-2 border rounded w-full" required>
                    <option value="" disabled selected>Selecione um cliente</option>
                    <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.getFullName()}">
                    </option>
                </select>
            </div>
            <div class="mb-4">
                <label for="shipping" class="block text-gray-700">Entrega:</label>
                <select id="shipping" name="shipping" class="mt-1 p-2 border rounded w-full" required>
                    <option value="" disabled selected>Selecione um código de entrega</option>
                    <option th:each="shipping : ${shippings}" th:value="${shipping.id}" th:text="${shipping.getTrackingNumber()}"></option>
                </select>
            </div>
            <div class="mb-4">
                <label for="payment" class="block text-gray-700">Pagamento:</label>
                <select id="payment" name="payment" class="mt-1 p-2 border rounded w-full" required>
                    <option value="" disabled selected>Selecione uma forma de pagamento</option>
                    <option th:each="payment : ${payments}" th:value="${payment.getId()}" th:text="${payment.getDescription()}"></option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Produtos:</label>
                <div id="product-list">
                    <div class="flex items-center mb-2">
                        <select name="products" class="p-2 border rounded w-3/4" required>
                            <option value="" disabled selected>Selecione um produto</option>
                            <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                        </select>
                        <input type="number" name="quantities" class="p-2 border rounded w-1/4 ml-2" placeholder="Qtd" min="1" required>
                        <button type="button" class="remove-product bg-red-500 text-white px-2 py-1 rounded ml-2">Remover</button>
                    </div>
                </div>
                <button type="button" id="add-product" class="bg-green-500 text-white px-4 py-2 rounded mt-2">Adicionar Produto</button>
            </div>
            <div class="mt-4">
                <a href="/sales" class="bg-gray-500 text-white p-2 rounded">Cancelar</a>
                <button type="submit" class="bg-blue-500 text-white p-2 rounded float-right">Salvar</button>
            </div>
        </form>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const customerSelect = document.getElementById('customerId');
        const paymentSelect = document.getElementById('payment');
        const shippingSelect = document.getElementById('shipping');
        const productList = document.getElementById('product-list');
        const saleForm = document.getElementById('sale-form')

        saleForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const customerId = customerSelect.value;
            const productRows = productList.querySelectorAll('div');
            const products = [];

            productRows.forEach(row => {
                const productId = row.querySelector('select').value;
                const quantity = row.querySelector('input').value;
                products.push({ productId, quantity });
            });

            const saleData = {
                customerId: customerId,
                products: products,
                paymentId: paymentSelect.value,
                shippingId: shippingSelect.value
            };

            fetch('/api/sales', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(saleData)
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/sales';
                    } else {
                        return response.json().then(data => {
                            showToast(data.errorMessage || 'Erro ao salvar a venda');
                        });
                    }
                })
                .catch(error => {
                    showToast('Erro ao salvar a venda');
                });
        });
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const products = /*[[${products}]]*/ [];
    /*]]>*/

    document.addEventListener('DOMContentLoaded', function () {
        const productList = document.getElementById('product-list');
        const addProductButton = document.getElementById('add-product');

        addProductButton.addEventListener('click', function () {
            const productRow = document.createElement('div');
            productRow.classList.add('flex', 'items-center', 'mb-2');
            productRow.innerHTML = `
                <select name="productIds[]" class="p-2 border rounded w-3/4" required>
                    <option value="" disabled selected>Selecione um produto</option>
                    ${products.map(product => `<option value="${product.id}">${product.name}</option>`).join('')}
                </select>
                <input type="number" name="quantities[]" class="p-2 border rounded w-1/4 ml-2" placeholder="Qtd" min="1" required>
                <button type="button" class="remove-product bg-red-500 text-white px-2 py-1 rounded ml-2">Remover</button>
            `;
            productList.appendChild(productRow);

            productRow.querySelector('.remove-product').addEventListener('click', function () {
                productRow.remove();
            });
        });
    });
</script>
<script th:src="@{/js/toast.js}"></script>
</html>