<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Marca</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div th:replace="partials/header :: header"></div>
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-6">Editar Marca</h1>
        <form class="space-y-4">
            <input type="hidden" id="id" name="id" th:value="${brand.id}">
            <div>
                <label for="shortName" class="block text-sm font-medium">Nome Curto</label>
                <input type="text" id="shortName" name="shortName" th:value="${brand.shortName}" class="w-full border border-gray-300 rounded-lg" required>
            </div>
            <div>
                <label for="name" class="block text-sm font-medium">Nome Completo</label>
                <input type="text" id="name" name="name" th:value="${brand.name}" class="w-full border border-gray-300 rounded-lg" required>
            </div>
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-400">Salvar</button>
            </div>
        </form>
    </div>
</body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                const formData = new FormData(form);
                const data = {};
                formData.forEach((value, key) => {
                    data[key] = value;
                });

                fetch(`/api/brands/${data.id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/brands';
                    } else {
                        response.json().then(error => {
                            showToast(error.errorMessage || 'Erro ao salvar a marca.');
                        });
                    }
                });
            });
        });
    </script>
    <script th:src="@{/js/toast.js}"></script>
</html>