<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entregas</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100">
        <div th:replace="~{partials/header :: header}"></div>
        <div class="container mx-auto mt-8 p-8 max-w-3xl bg-white rounded-lg shadow-md">
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-2xl font-bold">Entregas</h1>
                <a href="/shipping/new" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-400">Criar entrega</a>
            </div>
            <table class="min-w-full bg-white border border-gray-300 rounded-lg">
                <thead>
                    <tr class="bg-gray-200 text-left">
                        <th class="py-2 px-4 border-b">ID</th>
                        <th class="py-2 px-4 border-b">Número de Rastreamento</th>
                        <th class="py-2 px-4 border-b">Status</th>
                        <th class="py-2 px-4 border-b">Descrição do Status</th>
                        <th class="py-2 px-4 border-b">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="shipping : ${shippings}"
                        th:onclick="|window.location.href='/shipping/' + ${shipping.id}|"
                        class="cursor-pointer hover:bg-gray-100">
                        <td class="py-2 px-4 border-b" th:text="${shipping.id}"></td>
                        <td class="py-2 px-4 border-b" th:text="${#strings.length(shipping.trackingNumber) > 10 ? #strings.substring(shipping.trackingNumber, 0, 10) + '...' : shipping.trackingNumber}"></td>
                        <td class="py-2 px-4 border-b" th:text="${shipping.status.getDescritption()}"></td>
                        <td class="py-2 px-4 border-b" th:text="${shipping.statusDescription}"></td>
                        <td class="py-2 border-b">
                            <div class="flex justify-center">
                                <a th:href="@{/shipping/edit/{id}(id=${shipping.id})}" class="bg-yellow-500 text-black mr-2 px-4 py-2 rounded hover:bg-yellow-400">Editar</a>
                                <button th:data-id="${shipping.id}" class="delete-btn bg-red-500 text-white px-4 py-2 mr-2 rounded hover:bg-red-400">Remover</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".delete-btn").forEach(button => {
                button.addEventListener("click", function (event) {
                    event.stopPropagation();
                    const shippingId = this.dataset.id;
                    if (confirm("Quer mesmo remover essa entrega?")) {
                        deleteShipping(shippingId);
                    }
                });
            });
        });

        function deleteShipping(shippingId) {
            fetch(`/shipping/delete/${shippingId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    showToast("Essa entrega não pode ser removida pois está vinculada a uma venda, exclua a venda primeiro.");
                }
            });
        }
    </script>
    <script th:src="@{/js/toast.js}"></script>
</html>